<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!--扫描具体的实现类-->
	<context:component-scan base-package="com.blackfat.base.service.impl"/>

	<!--提供	应用方信息，方便计算依赖关系-->
	<dubbo:application name="platform-base"/>

	<dubbo:registry protocol="zookeeper" address="106.14.46.227:2181"/>

	<dubbo:protocol name="dubbo" port="20880" threads="200"/>

	<dubbo:provider timeout="15000" executes="200" />

	<dubbo:service interface="com.blacktfat.base.service.IHelloWorldService" ref="helloWorldServiceImpl"/>


	
</beans>